<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fff4ca;
            margin: 0%;
            padding: 0%;
        }
    </style>
</head>
<body>
    <h1 style=" background-color: #add7bf; text-align:center; height: 60px; margin-top: 0%;font-size: xxx-large;">Tu voz en cartas</h1>
    
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Cerrar Sesión</a>
        <a href="{% url 'escribir' %}">Escribe tus cartas aquí</a>
        <a href="{% url 'buzon' %}">Buzón</a>
    {% else %}
        <a href="{% url 'login' %}">Iniciar Sesión</a>
    {% endif %}
</body>
</html>